.container {
    display: flex;
    padding-bottom: 201px;
}

.hwTitle {
    margin-top: 39px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 40px 0 10px 70px;
}

