.sidebar {
    width: 20%;
    height: 100%;
    display: none;
}

.sidebar.open {
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: fixed;
    z-index: 100;
    margin-top: -65px;

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    weight: 100%;
    background-color: rgba(0,0,0,0.5);
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    margin-top: 35px;
    margin-left: 70px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-decoration-line: none;
    color: black
}

.nav a:hover {
    color: #0059B2;
}

.nav a.active {
    color: #3D6B99;
    text-decoration-line: underline;
}
.close {
    border: 0;
    background-color: white;
    width: 27px;
    height: 27px;
    align-self: flex-end;
    margin-right: 24px;
    margin-top: 16px;
}

.close img {
}
