.input:focus {
}

.input {
    outline: none;
    width: 372px;
    height: 36px;
    margin: 24px 0 24px 0;
    padding: 8px 0 8px 24px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
    border: 1px solid #CC1439
}

.errorInput:focus {
}

.error {
    color: red;
}
