.radio {
    accent-color: black;
    cursor: pointer;
}

.radio::before {
    cursor: pointer;
}

.radio:checked::before {
    cursor: pointer;
}

.label {

}

.options {
    display: flex;
    flex-direction: column;
    margin-left: 127px;
    margin-top: 34px;
    cursor: pointer;
}

.span {
    margin-left: 13px;
    cursor: pointer;
}
