.App {
    --header_height: 60px;
    width: 1280px;
    margin: 0 auto;
}

.hw {
}

.hwTitle {
    margin-top: 35px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.border {
    border-bottom: 1px solid lightgray;
    height: 216px;
}

.messagesBlock {
    display: flex;
    flex-direction: column;
}

.border_hw_8 {
    height: 216px;
}

.border_hw_9 {
    border-bottom: 1px solid lightgray;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-top: 36px;
    margin-bottom: 9px;
}