.App {
    --header_height: 60px;
    width: 1280px;
    margin: 0 auto;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 40px 0 10px 70px;
}

.hw {
    margin: 70px;
}

.border {
    border-bottom: 1px solid lightgray;
    height: 216px;
}

.messagesBlock {
    display: flex;
    flex-direction: column;
}

