.App {
    --header_height: 60px;
    width: 1280px;
    margin: 0 auto;
}

.hw {

}

.hwTitle {
    margin-top: 35px;
}

.border {
    border-bottom: 1px solid lightgray;
    height: 216px;
}

.messagesBlock {
    display: flex;
    flex-direction: column;
}

.border_hw_8 {
    height: 216px;
}